body {
    background-color:#333333;
    font-family:'IBM Plex Mono';
}

h1, h2, h3{
    color:#f8f8ff;
}

.foreground-color {
    color:#CCCCCC;
}

/* Para definir dimensões das imagens*/
.width {
    width:300px;
}

.height {
    height:100px;
}

/* Para colocar várias imagens na mesma linha */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.column {
  float: left;
  width: 33.33%;
  padding: 0px;
}

#cara {
    border: 5px solid #3682B3;
    width: 150px;
}

#legenda_cara {
    font-size:90%;
    font-style:italic;
    text-align:center;
}

.items{
    padding: 10px;
    /*display:inline;
    border: 1px solid #3682B3;
    */
}
